{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Connectes toi !</h1>
    <label for="inputUsername">Identifiant</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="username-addon">
                <i class="fas fa-user"></i>
            </span>
        </div>
        <input id="inputUsername" type="text" value="{{ last_username }}" name="username" class="form-control" placeholder="Identifiant" aria-label="Username" aria-describedby="username-addon" required>
    </div>
    <label for="inputPassword">Mot de passe</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password-addon">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="password-addon" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button type="submit" class="btn btn-success btn-lg btn-block">Je me connectes !</button>

</form>
{% endblock %}
