<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Movies2Watch - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" 
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
                crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/all.css') }}">
        {% endblock %}        
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Movies2Watch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                {% if app.user %}
                <li class="nav-item dropdown avatar">                    
                    <a class="nav-link dropdown-toggle" id="avatar-dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('assets/img/avatar/avatar-default.jpg')}}" 
                            class="rounded-circle z-depth-0 border border-success"
                            alt="{{ app.user.prenom }} {{ app.user.nom }}" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="avatar-dropdown">
                        <span class="dropdown-item">{{ app.user.prenom }} {{ app.user.nom }}</span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i>&nbsp;&nbsp;Mon Profil</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-film"></i>&nbsp;&nbsp;Mes Films</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-power-off"></i>&nbsp;&nbsp;Déconnexion</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'register' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                </li>
                {% endif %}
            </ul>
        </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="{{ asset('assets/js/axios.min.js?2020') }}"></script>
        <script src="{{ asset('assets/js/config.js?2020') }}"></script>
        <script src="{{ asset('assets/js/functions.js?2020') }}"></script>
        <script src="{{ asset('assets/js/constants.js?2020') }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/app.js?2020') }}"></script>
    </body>
</html>
