<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Movies2Watch - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% endblock %}        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}            
            <script src="{{ asset('assets/js/jquery.slim.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
            <script src="{{ asset('assets/js/axios.min.js') }}"></script>
            <script src="{{ asset('assets/js/constants.js') }}"></script>
            <script src="{{ asset('assets/js/Movie.class.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
